db
*.bpm
*.cdb
*.hdb
*.idb
*.logdb
*.rdb
*.kpt
*.db_info
*.qmsg
*.hier_info
*.hif
*.html
*.txt
*.ammdb
*.ddb
*.flock
*.sci
*.tdb
*.ddb
*.hsd
*.json
*.rpt
*.done
*.rpt
*.smsg
*.rpt
*.jdi
*.rpt
*.mary
*.pin
*.pof
*.sld
*.sof
*.rpt
*.summary
*.dfp
*.rcfdb
*.dpi
*.hb_info
*.sig
*.xml
