
*.bpm
*.cdb
*.hdb
*.idb
*.logdb
*.rdb
*.kpt
*.db_info
*.qmsg
*.hier_info
*.hif
*.html
*.txt
*.ammdb
db/DE10_LITE_Empty_Top.pti_db_list.ddb
db/DE10_LITE_Empty_Top.quiproj.43032.rdr.flock
db/DE10_LITE_Empty_Top.sld_design_entry.sci
db/DE10_LITE_Empty_Top.sld_design_entry_dsc.sci
db/DE10_LITE_Empty_Top.sta_cmp.7_slow_1200mv_85c.tdb
db/DE10_LITE_Empty_Top.tis_db_list.ddb
db/DE10_LITE_Empty_Top.tiscmp.fast_1200mv_0c.ddb
db/DE10_LITE_Empty_Top.tiscmp.fastest_slow_1200mv_0c.ddb
db/DE10_LITE_Empty_Top.tiscmp.fastest_slow_1200mv_85c.ddb
db/DE10_LITE_Empty_Top.tiscmp.slow_1200mv_0c.ddb
db/DE10_LITE_Empty_Top.tiscmp.slow_1200mv_85c.ddb
db/DE10_LITE_Empty_Top.zippleback_io_sim_cache.ff_0c_fast.hsd
db/DE10_LITE_Empty_Top.zippleback_io_sim_cache.ii_0c_slow.hsd
db/DE10_LITE_Empty_Top.zippleback_io_sim_cache.ii_85c_slow.hsd
db/DE10_LITE_Empty_Top_partition_pins.json
DE10_LITE_Empty_Top.asm.rpt
DE10_LITE_Empty_Top.done
DE10_LITE_Empty_Top.fit.rpt
DE10_LITE_Empty_Top.fit.smsg
DE10_LITE_Empty_Top.fit.summary
DE10_LITE_Empty_Top.flow.rpt
DE10_LITE_Empty_Top.jdi
DE10_LITE_Empty_Top.map.rpt
DE10_LITE_Empty_Top.map.summary
DE10_LITE_Empty_Top.pin
DE10_LITE_Empty_Top.pof
DE10_LITE_Empty_Top.sld
DE10_LITE_Empty_Top.sof
DE10_LITE_Empty_Top.sta.rpt
DE10_LITE_Empty_Top.sta.summary
incremental_db/compiled_partitions/DE10_LITE_Empty_Top.root_partition.cmp.dfp
incremental_db/compiled_partitions/DE10_LITE_Empty_Top.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/DE10_LITE_Empty_Top.root_partition.map.dpi
incremental_db/compiled_partitions/DE10_LITE_Empty_Top.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/DE10_LITE_Empty_Top.root_partition.map.hbdb.sig
incremental_db/README
db/DE10_LITE_Empty_Top.asm_labs.ddb
db/DE10_LITE_Empty_Top.cbx.xml

